name: Build and publish
on:
  push:
    branches: [main, beta]
  release:
    types:
      - published

jobs:
  semantic-release:
    if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta' }}
    name: Create a semantic release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Cache npm cache
        uses: actions/cache@v2
        env:
          cache-name: cache-npm-cache
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Install semantic-release globally
        run: sudo npm install --prefer-offline --no-audit --global semantic-release@^17.4.4 @semantic-release/exec@^5.0.0 @semantic-release/git@^9.0.0 conventional-changelog-conventionalcommits@^4.6.3
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.BUMP_GIT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.BUMP_GIT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.BUMP_GIT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.BUMP_GIT_EMAIL }}
        run: semantic-release
  sync_main_to_beta:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Sync branch `main` to `beta` (fast-forward enabled)
    runs-on: ubuntu-latest
    needs:
      - semantic-release
    steps:
      - name: Keep `beta` up to date with `main` (fast-forward enabled)
        uses: jojomatik/sync-branch@beta
        with:
          git_committer_name: ${{ secrets.BUMP_GIT_NAME }}
          git_committer_email: ${{ secrets.BUMP_GIT_EMAIL }}
          github_token: ${{ secrets.GH_TOKEN }}
  sync_main_to_v1:
    if: |
      always() &&
      (needs.semantic-release.result == 'success' || needs.semantic-release.result == 'skipped') &&
      ${{ startsWith(github.ref, 'refs/tags/v1') && !contains(github.ref, 'beta') }}
    name: Sync branch `main` to `v1` (fast-forward enabled)
    runs-on: ubuntu-latest
    needs:
      - semantic-release
    steps:
      - name: Keep `v1` up to date with `main` (fast-forward enabled)
        uses: jojomatik/sync-branch@beta
        with:
          source: "main"
          target: "v1"
          git_committer_name: ${{ secrets.BUMP_GIT_NAME }}
          git_committer_email: ${{ secrets.BUMP_GIT_EMAIL }}
          github_token: ${{ secrets.GH_TOKEN }}